body{
    margin: 0;
    font-size: 20px;
}
/* Inicia grid */
.container{
    width: 100vw;
    margin:auto;
    display: grid;
    grid-template: 10% 40% 60% 10% / 40% 60%;
    grid-row: gap 5em;;
    grid-template-areas: "navbar navbar"
                         "slider slider"
                         "content content"
                         "footer footer"
}
/* Termina grid */
/* Empieza Navbar */
.navbar{
    grid-area: navbar;
    width: 100%;
    height: 4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(61, 58, 58, .7);
    color: white;
}
.logo img{
    width: 15em;
    height: 15.5em;
    margin-bottom: 0.5em;
    margin-top: 3.5em;
    margin-left: 2.7em;
    }
    .nav_menu{
        margin-right: 35px;
    }
    .nav_menu ol {
        display: flex;
        height: inherit;
        list-style: none;
        margin-left: 10px;
    }
    .nav_menu a {
        font-size: 1em;
        color: whitesmoke;
        text-decoration: none;
        align-items: center;
        display: flex;
        padding: 0px 10px;  
    }
    .nav_menu a:hover{
        color:#e762b3;
        font-weight: bold;
        border-left: .2em solid #e762b3;
        border-right: .2em solid #e762b3;
    }
/* Termina Navbar */
/* Empieza Slider */
.slider{
    grid-area: slider;
    width: 80%;
    height: 70%;
    border: solid .1em black;
    margin: auto;
    padding: 0;
    overflow: hidden;
    margin-top: -1em;
}
.slider img{
    margin-top: -1em;
    width: 100%;
    height: 35%;
}
.slider ul{
    display: flex;
    padding: 0;
    width: 300%;
    animation: change 10s infinite;
}
.slider li{
    width: 100%;
    list-style: none;
}
.slider li a{
    width: 8em;
    margin: auto;
    margin-bottom: 2em;
    text-decoration: none;
    background: whitesmoke;
    color: black;
    font-size: 1.1em;
     border: solid .09em black; 
    border-radius: .4em;
   
}
.slider li a:hover{
    width: 8.5em;
    margin: auto;
    text-decoration: none;
    background: whitesmoke;
    color: black;
    font-size: 1.2em;
    border: solid .09em black; 
    box-shadow: 0px 0px .2em .2em #e762b3;
    border-radius: .4em;
}
.slider li h3{
    color: whitesmoke;
    font-size: 2.5em;
    -webkit-text-stroke: .03em black;
    margin-top: 1em;
    margin-bottom: -1em;
}
ul li div{
    width: 100%;
    height: 15em;
}

@keyframes change {
    0% {margin-left: 0; }
    30% {margin-left: 0; }

    33.3% {margin-left: -100%; }
    60% {margin-left: -100%; }

    63.3% {margin-left: -200%;} 
    93.3% {margin-left: -200%;}
}
/*  */
.content{
    grid-area: content;
    width: 100%;
    height: auto;
    border: solid 1px red;
    margin-top: -6em;
}
.footer{
    grid-area: footer;
    width: 100%;
    height: auto;
    border: solid 1px red;
}